node_modules/.package-lock.json
node_modules/@svgdotjs/svg.js/LICENSE.txt
node_modules/@svgdotjs/svg.js/package.json
node_modules/@svgdotjs/svg.js/README.md
node_modules/@svgdotjs/svg.js/svg.js.d.ts
node_modules/@svgdotjs/svg.js/.config/karma.conf.common.js
node_modules/@svgdotjs/svg.js/.config/karma.conf.js
node_modules/@svgdotjs/svg.js/.config/karma.conf.saucelabs.js
node_modules/@svgdotjs/svg.js/.config/polyfillListIE.js
node_modules/@svgdotjs/svg.js/.config/pretest.js
node_modules/@svgdotjs/svg.js/.config/rollup.config.js
node_modules/@svgdotjs/svg.js/.config/rollup.polyfills.js
node_modules/@svgdotjs/svg.js/.config/rollup.tests.js
node_modules/@svgdotjs/svg.js/dist/polyfillsIE.js
node_modules/@svgdotjs/svg.js/dist/svg.esm.js
node_modules/@svgdotjs/svg.js/dist/svg.esm.js.map
node_modules/@svgdotjs/svg.js/dist/svg.js
node_modules/@svgdotjs/svg.js/dist/svg.js.map
node_modules/@svgdotjs/svg.js/dist/svg.min.js
node_modules/@svgdotjs/svg.js/dist/svg.min.js.map
node_modules/@svgdotjs/svg.js/dist/svg.node.js
node_modules/@svgdotjs/svg.js/dist/svg.node.js.map
node_modules/@svgdotjs/svg.js/src/main.js
node_modules/@svgdotjs/svg.js/src/svg.js
node_modules/@svgdotjs/svg.js/src/animation/Animator.js
node_modules/@svgdotjs/svg.js/src/animation/Controller.js
node_modules/@svgdotjs/svg.js/src/animation/Morphable.js
node_modules/@svgdotjs/svg.js/src/animation/Queue.js
node_modules/@svgdotjs/svg.js/src/animation/Runner.js
node_modules/@svgdotjs/svg.js/src/animation/Timeline.js
node_modules/@svgdotjs/svg.js/src/elements/A.js
node_modules/@svgdotjs/svg.js/src/elements/Circle.js
node_modules/@svgdotjs/svg.js/src/elements/ClipPath.js
node_modules/@svgdotjs/svg.js/src/elements/Container.js
node_modules/@svgdotjs/svg.js/src/elements/Defs.js
node_modules/@svgdotjs/svg.js/src/elements/Dom.js
node_modules/@svgdotjs/svg.js/src/elements/Element.js
node_modules/@svgdotjs/svg.js/src/elements/Ellipse.js
node_modules/@svgdotjs/svg.js/src/elements/ForeignObject.js
node_modules/@svgdotjs/svg.js/src/elements/Fragment.js
node_modules/@svgdotjs/svg.js/src/elements/G.js
node_modules/@svgdotjs/svg.js/src/elements/Gradient.js
node_modules/@svgdotjs/svg.js/src/elements/Image.js
node_modules/@svgdotjs/svg.js/src/elements/Line.js
node_modules/@svgdotjs/svg.js/src/elements/Marker.js
node_modules/@svgdotjs/svg.js/src/elements/Mask.js
node_modules/@svgdotjs/svg.js/src/elements/Path.js
node_modules/@svgdotjs/svg.js/src/elements/Pattern.js
node_modules/@svgdotjs/svg.js/src/elements/Polygon.js
node_modules/@svgdotjs/svg.js/src/elements/Polyline.js
node_modules/@svgdotjs/svg.js/src/elements/Rect.js
node_modules/@svgdotjs/svg.js/src/elements/Shape.js
node_modules/@svgdotjs/svg.js/src/elements/Stop.js
node_modules/@svgdotjs/svg.js/src/elements/Style.js
node_modules/@svgdotjs/svg.js/src/elements/Svg.js
node_modules/@svgdotjs/svg.js/src/elements/Symbol.js
node_modules/@svgdotjs/svg.js/src/elements/Text.js
node_modules/@svgdotjs/svg.js/src/elements/TextPath.js
node_modules/@svgdotjs/svg.js/src/elements/Tspan.js
node_modules/@svgdotjs/svg.js/src/elements/Use.js
node_modules/@svgdotjs/svg.js/src/modules/core/attr.js
node_modules/@svgdotjs/svg.js/src/modules/core/circled.js
node_modules/@svgdotjs/svg.js/src/modules/core/containerGeometry.js
node_modules/@svgdotjs/svg.js/src/modules/core/defaults.js
node_modules/@svgdotjs/svg.js/src/modules/core/event.js
node_modules/@svgdotjs/svg.js/src/modules/core/gradiented.js
node_modules/@svgdotjs/svg.js/src/modules/core/namespaces.js
node_modules/@svgdotjs/svg.js/src/modules/core/parser.js
node_modules/@svgdotjs/svg.js/src/modules/core/pointed.js
node_modules/@svgdotjs/svg.js/src/modules/core/poly.js
node_modules/@svgdotjs/svg.js/src/modules/core/regex.js
node_modules/@svgdotjs/svg.js/src/modules/core/selector.js
node_modules/@svgdotjs/svg.js/src/modules/core/textable.js
node_modules/@svgdotjs/svg.js/src/modules/optional/arrange.js
node_modules/@svgdotjs/svg.js/src/modules/optional/class.js
node_modules/@svgdotjs/svg.js/src/modules/optional/css.js
node_modules/@svgdotjs/svg.js/src/modules/optional/data.js
node_modules/@svgdotjs/svg.js/src/modules/optional/memory.js
node_modules/@svgdotjs/svg.js/src/modules/optional/sugar.js
node_modules/@svgdotjs/svg.js/src/modules/optional/transform.js
node_modules/@svgdotjs/svg.js/src/polyfills/children.js
node_modules/@svgdotjs/svg.js/src/polyfills/innerHTML.js
node_modules/@svgdotjs/svg.js/src/types/Base.js
node_modules/@svgdotjs/svg.js/src/types/Box.js
node_modules/@svgdotjs/svg.js/src/types/Color.js
node_modules/@svgdotjs/svg.js/src/types/EventTarget.js
node_modules/@svgdotjs/svg.js/src/types/List.js
node_modules/@svgdotjs/svg.js/src/types/Matrix.js
node_modules/@svgdotjs/svg.js/src/types/PathArray.js
node_modules/@svgdotjs/svg.js/src/types/Point.js
node_modules/@svgdotjs/svg.js/src/types/PointArray.js
node_modules/@svgdotjs/svg.js/src/types/SVGArray.js
node_modules/@svgdotjs/svg.js/src/types/SVGNumber.js
node_modules/@svgdotjs/svg.js/src/utils/adopter.js
node_modules/@svgdotjs/svg.js/src/utils/methods.js
node_modules/@svgdotjs/svg.js/src/utils/pathParser.js
node_modules/@svgdotjs/svg.js/src/utils/utils.js
node_modules/@svgdotjs/svg.js/src/utils/window.js
